mixin slider-main()
	-
		const items = [
			{
				image: `${baseDir}images/content/slider-main/slide-1.jpg`,
				pretitle: 'Управляющая компания',
				title: 'Четыре солнца',
				content: 'Поддерживаем работоспособность всех инженерных систем объектов недвижимости и&nbsp;предоставляем пользователям этих объектов различные услуги.'
			},
			{
				image: `${baseDir}images/content/slider-main/slide-1.jpg`,
				pretitle: 'Сделайте свой дом по-настоящему умным',
				title: 'Comelit',
				content: 'В вашем доме установлена система Comelit, включающая домофон, видеонаблюдение, сигнализацию и умный дом. Управляйте светом, климатом, шторами или другими устройствами и механизмами. С помощью мониторов, мультивыключателей, планшетов и смартфонов. Находясь дома, на работе, даче или в отпуске'
			}
		];

	+b.slider-main(
		data-controller='slider-main'
		data-slider-main-speed='300'
		data-slider-main-autoplay-delay='5000'
	)&attributes(attributes)
		.swiper-container(data-target='slider-main.swiper')
			.swiper-wrapper
				each item, index in items
					+e.item.swiper-slide(data-target='slider-main.item')
						+e.IMG.item-image(
							class={'swiper-lazy': index > 0}
							src=index > 0 ? null : item.image
							data-src=index > 0 ? item.image : null
							alt=item.title
						)

						+e.item-body
							+e.container
								+e.item-main
									+e.item-content !{item.pretitle}

									+e.H1.item-title
										+svg('logo').item-title-logo
										+e.item-title-content !{item.title}

									+e.item-content !{item.content}

						if index > 0
							.swiper-lazy-preloader

			+e.navigation-box
				+e.container
					+e.navigation
						+e.BUTTON.button--prev(
							type='button'
							data-target='slider-main.buttonPrev'
						)
							+svg('angle-left').button-icon

						+e.BUTTON.button--next(
							type='button'
							data-target='slider-main.buttonNext'
						)
							+svg('angle-left').button-icon

			+e.pagination-box
				+e.container
					+e.pagination(data-target='slider-main.pagination')
