include ../header-nav/header-nav
include ../button/button

mixin header()
	+b.HEADER.header(
		data-controller='header'
		data-header-menu-mobile-opened='false'
		data-action='resize@window->header#checkViewport'
	)&attributes(attributes)
		+e.container
			+e.BUTTON.button-menu(
				type='button'
				data-target='header.buttonMenu'
				data-action='header#toggleMenuMobile'
			)
				+e.SPAN.button-menu-line
				+e.SPAN.button-menu-line
				+e.SPAN.button-menu-line

			+e.A.logo(href=`${baseDir}main.html`)
				+svg('logo').logo-img

			+header-nav().__nav

			+e.phone-text
				| Диспетчерская#[br] (круглосуточно)

			+e.A.phone(href='tel:+74952300130')
				| +7 (495) 230&mdash;01&mdash;30

			+button('a', 'user').--login.__button-login(href=jsv)
				| Личный кабинет

		+e.menu-mobile(hidden data-target='header.menuMobile')
			+header-nav(true).__nav-mobile

			+e.menu-mobile-footer
				+e.menu-mobile-copyright
					| 2019&nbsp;&copy; УК&nbsp;&laquo;Четыре солнца&raquo;
