include ../time/time
include ../content/content

mixin faq-item({title, number, date, content})
	+b.ARTICLE.faq-item(
		data-controller='faq-item'
		data-faq-item-opened='false'
	)&attributes(attributes)
		+e.HEADER.header(tabindex='0' data-action='click->faq-item#toggle')
			+e.H2.title #{title}

			+e.info
				| # #{number}&nbsp;/&#32;
				+time().item-date #{date}

		+e.main(hidden data-target='faq-item.main')
			+e.main-inner
				+content().--faq.__content !{content}
