extends pug/base
include components/header/header
//-include components/footer/footer
include components/content/content
include components/modal/modal
include components/form-question/form-question

prepend vars
	-
		title = 'Управляющая компания Четыре солнца';

append vars
	-
		baseDir = './';
		html.classList.push('app');
		body.classList.push('app__body');
		meta.viewport = 'width=device-width, initial-scale=1, shrink-to-fit=no';

		const jsv = 'javascript:void(0)';
		let headerTransparent = false;
		let mapObjects = true;

append head-end
	<script>window.MSInputMethodContext && document.documentMode && document.write('<script src="https://cdn.jsdelivr.net/gh/nuxodin/ie11CustomProperties@4.1.0/ie11CustomProperties.min.js"><\x2fscript>');</script>

block content
	+header().app__header(class={'header--transparent': headerTransparent} data-header-transparent=headerTransparent ? '' : null)

	main.app__main
		block main
			style.
				.app__main {
					margin-top: 32px;
				}

			-
				const pages = [
					{
						title: 'Main',
						url: 'main.html'
					},
					{
						title: 'Main V2',
						url: 'main-v2.html'
					},
					{
						title: 'News',
						url: 'news.html'
					},
					{
						title: 'News V2',
						url: 'news-v2.html'
					},
					{
						title: 'Article',
						url: 'article.html'
					},
					{
						title: 'FAQ',
						url: 'faq.html'
					},
					{
						title: 'Product',
						url: 'product.html'
					},
					{
						title: 'Form Question',
						url: '#question',
						attrs: {'data-modal-show': ''}
					}
				];

			.container
				+content()
					h1 Pages list

					ol
						each page in pages
							li: a(href=`${baseDir}${page.url}`)&attributes(page.attrs || null) #{page.title}

			div &nbsp;
			div &nbsp;

	//-+footer().app__footer

	+modal({title: 'Задать вопрос'})#question
		+form-question()

prepend scripts
	script(
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-22sqtlovTFbf4-TRlwMP0ZzjWiC6zwY"
	)
